/* http://www.jalview.org/help/html/colourSchemes/ */

.adenine {color: #64F73F; stroke: #64F73F}
.cytosine {color: #FFB340; stroke: #FFB340}
.guanine {color: #EB413C; stroke: #EB413C}
.thymine {color: #3C88EE; stroke: #3C88EE}
.uracil {color: #3C88EE; stroke: #3C88EE}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-subtitle {
  font-size: 0.8em;
  font-style: italic;
  color: #999;
}

.App-intro {
  font-size: large;
}
