.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: #CCC
}

.App-title-a {
  font-size: 1.5em;
  color: red;
}

.App-title-c {
  font-size: 1.5em;
  color: yellow;
}

.App-title-g {
  font-size: 1.5em;
  color: green;
}

.App-title-t {
  font-size: 1.5em;
  color: blue;
}

.App-subtitle {
  font-size: 0.8em;
  font-style: italic;
  color: #999;
}

.App-intro {
  font-size: large;
}
